In [65]:
import sys
import os
sys.path.append(os.path.abspath("../"))
from scripts.sentiment_analysis import run_pipeline

In [66]:
INPUT_FILE = "../data/cleaned/bank_reviews_cleaned.csv"
OUTPUT_FILE = "../data/cleaned/task2_reviews_analyzed.csv"
SUMMARY_FILE = "../data/cleaned/task2_sentiment_summary.csv"

In [67]:
df_analyzed, df_summary, keywords = run_pipeline(INPUT_FILE, OUTPUT_FILE, SUMMARY_FILE)

Loading data from ../data/cleaned/bank_reviews_cleaned.csv...
Step 1: Translating (this may take time)...
Step 2: Cleaning text...
Step 3: Running Sentiment Analysis (VADER)...
Step 5: Assigning Themes...
Pipeline finished successfully.
Step 4: Extracting keywords for discovery...

In [68]:
print("Analysis Complete.")
print(f"Total Rows: {len(df_analyzed)}")
df_analyzed.head()

Analysis Complete.
Total Rows: 1140

,review_id,review_text,sentiment_label,sentiment_score,identified_themes
0,0,CBE ይለያል።,neutral,0.0000,Other
1,1,it's special for me,positive,0.4019,Other
2,2,Make it user friendly.,positive,0.4939,UI/UX
3,3,maaliif daddafee install gaafata,neutral,0.0000,Other
4,4,good app,positive,0.4404,UI/UX

In [69]:
print("Sentiment Summary by Bank and Rating:")
df_summary.head(10)

Sentiment Summary by Bank and Rating:

                          bank  rating  sentiment_score
0                   BoA Mobile       1        -0.176177
1                   BoA Mobile       2         0.084036
2                   BoA Mobile       3         0.135708
3                   BoA Mobile       4         0.358553
4                   BoA Mobile       5         0.310442
5  Commercial Bank of Ethiopia       1        -0.063673
6  Commercial Bank of Ethiopia       2         0.085067
7  Commercial Bank of Ethiopia       3         0.102081
8  Commercial Bank of Ethiopia       4         0.315275
9  Commercial Bank of Ethiopia       5         0.345255

In [70]:
print("Top keywords discovered (Used to validate themes):")
for bank, kws in keywords.items():
    print(f"\n{bank}:")
    print(", ".join(kws))

Top keywords discovered (Used to validate themes):

Commercial Bank of Ethiopia:
app, good, best, cbe, nice, bank, like, application, good app, excellent

BoA Mobile:
app, good, boa, best, bank, work, worst, working, great, mobile

Dashen Bank:
app, best, good, dashen, super, bank, nice, amazing, banking, fast